{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog {{ title }}</title>
    <link rel="stylesheet" href="{% static "css/blog.css" %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
   <div id="content">
    <a href="{% url "dashboard:dashboard" %}">Home</a>
    <a href="{% url "blog:post_list" %}">Blog</a>
    {% block content %}
    {% endblock content %}
   </div>
   <div id="sidebar">
        <h2>My Blog</h2>
        <p>
            This is my blog.
            I've written {% total_posts %}
        </p>

        <h3>Latest posts</h3>
        {% show_latest_posts 3%}
        <h3>Most commented posts</h3>
        {% get_most_commented_posts as most_commentd_posts %}
        <ul>
            {% for post in most_commentd_posts  %}
                <li>
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </li>
            {% endfor %}
        </ul>

   </div>



    <script src="{% static "js/custom.js" %}"></script>
</body>
</html>

