{% extends "dashboard/base.html" %}

{% block content %}

  
    <h1>
        About Deli Greece.
    </h1>

    From Ancient times Greece were famous for the products of the land, the ceramics and marble, the wine and honey. THe climate and the landscape of Greece offers unique opportunity for various areas with microclimate that lead to different taste of one and the same fruit or wine. White beans taste not the just the same. Great importance plays the soil and climate, humidity and elevation. Fruits from Edessa and Veria areas are different from the fruits of Pelopones as well as the vegetabes of Crete have different taste.

    All this lead to the varieties of taste in Greek food, even when it comes to the same dish. Lamb meat from Olympos mountain is different than the one from Attica region. 

    Oregano and many other herbs that Greek kitchen is so famous about, has differend odour and taste from hill to hill, mountain to mountain.

    Everywhere Greek farmers are working in family farms, generation after generation, always trying to keep the heigh quality and traditions of the local produce. 

    Deli Greece is a portal that aim to introduce the producers and their quality products.
    Here you can get to know the person behind the honey yo buy or the home-made pasta. The beans and the dry fruits are not any more just a package, now you will know who is the producer, where does the product comes from.

    Deli Greece does not participate in purchasing the products. It is strictly between you, the customer, and the producer. Our mission is to create possibility for purchasing good product in reasonabe price with the guarantee of the producers themselves.

    Deli Greece will not be the judge of the products on the portal. Customers are the best judges. 
    In order to write comments about products, customers must register. 
    
    Deli Greece does not have any possibility of controlling the accuracy of informations provided by producers. Neither the responsibility for any financial dispute between the seller and buyer. 

    
    Comments with inapropriate content will be removed and the user blocked for further actions.


    Δωρεάν προβολή προϊόντων παραγωγών, οικοτεχνιών και όχι μόνο!!! μπορείτε να διαφημίσετε τα προϊόντα σας να κάνετε διαγωνισμούς για προσφορά δώρων ή ειδικές προσφορές για τα μέλη της ομάδας!!!

{% endblock content %}