{% extends "dashboard/base.html" %}

{% block content %}

    <h1>Main content</h1>

    <p class="greek">
        <p class="greek-center">
          Θελετε να εχετε προιοντα υγιεινα και ποιοτικα στο τραπεζι σας; <br>

          Θελετε να γνωριζετε την προελευση των προιοντων; <br>
  
          Θελετε να γνωριζετε ποιος με αγαπη δημιουργησε το προιον που επιθυμειτε; <br>
  
        </p>
        
        Καλως ηρθατε στον ιστοτοπο Deli Greece. Ενας χωρος οπου θα βρειτε υγiεινα και ποιοτικα προιοντα, θα γνωρισετε τους παραγωγους και την προελευση των προιοντων.
        <br>

        Ολοι αναζητουμε προιοντα υψηλης ποιοτητας. Η σωστη διατροφη ειναι μια βασικη προυποθεση για την σωστη υγεια για να ανταπεξελθουμε στις καθημερινες απαιτησεις. <br>
         Θελουμε να εμπιστευομαστε την προελευση και την παραγωγη των προιοντων που αγοραζουμε. <br>
          Ο καλυτερος τροπος να ικανοποιησουμε την επιθυμια μας ειναι να γνωρισουμε τον παραγωγο, τον κατασκευαστη του προιοντος που θελουμε. Ειναι ο μονος τροπος να γνωριζουμε τι αγοραζουμε και απο ποιον.
        <br>

        Γοητευτικη Ελλαδα - Delightful Greece εινα ο ιστοτοπος που παρουσιαζει τον παραγωγο και τα προιοντα της παραγωγης στον επισκεπτη. 
        
        <br>

        Σας προσφερei την ευκαιρια να γνωρισεται του ανθρωπους που με μερακι και μοχθο σας προσφερουν τα προιοντα τους στις καλυτερες τιμες της αγορας και με μια μοναδικη εγγυηση, την εμπιστοσυνη στον παραγωγου. <br>
        Δεν ειναι ενας ακομα ιστοτοπος με προιοντα αλλα η δημιουργια μιας σχεσης που θα σας προσφερει προιοντα ποιοτητας που τοσο αναζητατε στη ζωη σας. 
      
      </p>
    </p>


{% endblock content %}